<!DOCTYPE html>
<html>
    <head>
        <link rel='icon' href='/img/weather.png'>
        <title> about title</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <img class="profilePic" src="/img/profile_pic.jpeg">
        <h3>{{jobTitle}}</h3>
        <h3>{{name}}</h3>
        </div>
     
        {{>footer}}
    </body>
</html>