<!-- part of html -->
<header>
    <h1> {{title}} 
         <img id='imgIconTitle' src ='/img/weather.png' style = 'height:40px' >
    </h1>
    

    <a href = "/">Weather</a>
    <a href = "/about">About</a>
    <a href = "/help">Help</a>
</header>
